<p>setting works!</p>

<form class="login-form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
  <input formControlName="sliders">
  -{{formGroup.get('sliders').touched}}-
  <input formControlName="names">
  Status: {{formGroup.valid}}
  <button type="submit">submit</button>
</form>

<div><b>Errors:</b></div>
<div *ngFor="let errors of errorFields; let i = index">
  <span>{{i}} - {{errors}}</span>
</div>
