<section class="slider">
  <logo-slider
    [items]="bulletCount"
    (deneme)="onDeneme($event)"
    (typed)="onTyped($event)"
    (swipeEvent)="swipeEdildi($event)"
  >
  </logo-slider>
  <div>Clicked: {{this.clicked}}</div>
  <div>Yazilan: {{this.yazilan | json}}</div>
  <div>Swipe Value: {{this.swipeValue}}</div>
  <div>Bullet Count: {{bulletCount}}</div>
</section>

<section class="setting">
  <logo-setting (emitter)="onSettingChange($event)"></logo-setting>
</section>

<router-outlet></router-outlet>
