@function to-string($value) {
  @return $value + unquote("");
}

@function to-bool($value) {
  @return not ($value or $value == '' or $value == 0 or $value == ());
}



// ----
// Sass (v3.4.13)
// Compass (v1.0.3)
// ----

////
/// String to number converter
/// @author Hugo Giraudel
/// @access private
////


///
/// Casts a string into a number
///
/// @param {String | Number} $value - Value to be parsed
///
/// @return {Number}
///
@function to-number($value) {
  @if type-of($value) == 'number' {
    @return $value;
  } @else if type-of($value) != 'string' {
    $_: log('Value for `to-number` should be a number or a string.');
  }

  $result: 0;
  $digits: 0;
  $minus: str-slice($value, 1, 1) == '-';
  $numbers: ('0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9);

  @for $i from if($minus, 2, 1) through str-length($value) {
    $character: str-slice($value, $i, $i);

    @if not (index(map-keys($numbers), $character) or $character == '.') {
      @return to-length(if($minus, -$result, $result), str-slice($value, $i))
    }

    @if $character == '.' {
      $digits: 1;
    } @else if $digits == 0 {
      $result: $result * 10 + map-get($numbers, $character);
    } @else {
      $digits: $digits * 10;
      $result: $result + map-get($numbers, $character) / $digits;
    }
  }

  @return if($minus, -$result, $result);;
}

///
/// Add `$unit` to `$value`
///
/// @param {Number} $value - Value to add unit to
/// @param {String} $unit - String representation of the unit
///
/// @return {Number} - `$value` expressed in `$unit`
///
@function to-length($value, $unit) {
  $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);

  @if not index(map-keys($units), $unit) {
    $_: log('Invalid unit `#{$unit}`.');
  }

  @return $value * map-get($units, $unit);
}


:host {
  border: 1px solid red;
  display: block;

  /*---- NUMBER OF SLIDE CONFIGURATION ----*/
  --number: 3;
  $num-of-slide: 8; // #{var(--number) * 1};
  $m: to-string(var(--number)); // calc(var(--number) * 3);
  $base-font-size: 16px;

  @function px-to-em($pixels) {
    @return #{$pixels/$base-font-size}em;
  }

  @mixin viewport--large {
    @media only screen and(min-width: px-to-em(1680px)) {
      @content;
    }
  }
  @mixin viewport--medium {
    @media only screen and(min-width: px-to-em(1080px)) {
      @content;
    }
  }


  button {
    background-color: var(--my-var);
    height: var(--some-var);
    content:  var(--number);

    &::after {
      content:  to-bool($m);
      bordeR: 1px solid red;
    }

    &::before {
      // counter-reset: variable var(--my-var);
      content: var(--number);
      border: 1px solid red;
      width: 20px;
      background-color: red;
    }
  }

  .wrapper {
    max-width: 60em;
    margin: 1em auto;
    position: relative;

    input {
      display: none;
    }

    .slider-wrapper {
      width: 100%;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 1px 1px 4px #666;
      background: #fcfff4;
      transform: translateZ(0);
      transition: all 500ms ease-out;

      .inner {
        width: percentage($num-of-slide);
        line-height: 0;
        transform: translateZ(0);
        transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);

        article {
          width: percentage(1/$num-of-slide);
          float: left;
          position: relative;
          height: 80px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100%;
          }
        }
      }
    }

    .slider-dot-control {
      position: absolute;
      width: 100%;
      bottom: 0;
      text-align: center;

      label {
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #bbb;
        transition: all;
        transition-duration: 0.3s;

        &:hover {
          background: #ccc;
          border-color: #777;
        }
      }
    }
  }


  /*---- SET UP CONTROL ----*/
  .slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);

    label {
      display: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }

  /* Info Box */
  .info {
    position: absolute;
    font-style: italic;
    line-height: 20px;
    opacity: 0;
    color: #000;
    text-align: left;
    transition: all 1000ms ease-out 600ms;

    h3 {
      color: #fcfff4;
      margin: 0 0 5px;
      font-weight: normal;
      font-size: 1.5em;
      font-style: normal;
    }

    &.top-left {
      top: 30px;
      left: 30px;
    }

    &.top-right {
      top: 30px;
      right: 30px;
    }

    &.bottom-left {
      bottom: 30px;
      left: 30px;
    }

    &.bottom-right {
      bottom: 30px;
      right: 30px;
    }
  }


  /*---- SET POSITION FOR SLIDE ----*/
  %bind-prev-next-button {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin: 0;
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #777;
  }

  %bind-next-button {
    @extend %bind-prev-next-button;
    content: "\f105";
    padding-left: 15px;
  }

  %bind-next-label {
    display: block;
    float: right;
    margin-right: 5px;
  }

  %bind-prev-label {
    display: block;
    float: left;
    margin-left: 5px;
  }

  %bind-prev-button {
    @extend %bind-prev-next-button;
    content: "\f104";
    padding-left: 8px;
  }

  %bind-background-active-dot {
    background: #333;
  }

  %bind-opacity-info {
    opacity: 1;
  }

  @for $i from 1 through $num-of-slide {
    input[name='slider']:nth-child(#{$i}):checked {
      & ~ .slider-wrapper .inner {
        margin-left: percentage(1 - $i);
      }

      & ~ .slider-dot-control label:nth-child(#{$i}) {
        @extend %bind-background-active-dot;
      }

      & ~ .slider-wrapper article:nth-child(#{$i}) .info {
        @extend %bind-opacity-info;
      }
    }
  }

  @for $i from 1 through ($num-of-slide - 1) {
    input[name='slider']:nth-child(#{$i}):checked {
      & ~ .slider-prev-next-control label:nth-child(#{$i +1}) {
        @extend %bind-next-label;

        &::after {
          @extend %bind-next-button;
        }
      }
    }
  }

  input[name='slider']:nth-child(#{$num-of-slide}):checked ~ .slider-prev-next-control label:nth-child(1) {
    @extend %bind-next-label;

    &::after {
      @extend %bind-next-button;
    }
  }

  @for $i from 2 through $num-of-slide {
    input[name='slider']:nth-child(#{$i}):checked {
      & ~ .slider-prev-next-control label:nth-child(#{$i - 1}) {
        @extend %bind-prev-label;

        &::after {
          @extend %bind-prev-button;
        }
      }
    }
  }

  input[name='slider']:nth-child(#{1}):checked ~ .slider-prev-next-control label:nth-child(#{$num-of-slide}) {
    @extend %bind-prev-label;

    &::after {
      @extend %bind-prev-button;
    }
  }

  /*---- TABLET ----*/
  @media only screen and (max-width: 850px) and (min-width: 450px) {
    .slider-wrapper {
      border-radius: 0;
    }
  }

  /*---- MOBILE----*/
  @media only screen and (max-width: 450px) {
    .slider-wrapper {
      border-radius: 0;
    }

    .slider-wrapper .info {
      opacity: 0;
    }
  }

  @media only screen and (min-width: 850px) {
    body {
      padding: 0 80px;
    }
  }

}
