<div>selected: {{selectedIndex}}</div>
<input [(ngModel)]="prop" (keyup)="onChangeInput()">
<div>{{this.prop}}</div>

<div class="wrapper" (swipeleft)="increase()" (swiperight)="decrease()">
  <input
    type=radio
    name="slider"
    id="slide{{i + 1}}"
    *ngFor="let item of itemList; let i = index"
    [checked]="selectedIndex==i"
    (click)="selectedIndex=i"
  />

  <div class="slider-wrapper">
    <div class=inner>
      <article *ngFor="let item of itemList; let i = index">1 {{i}}</article>
    </div>
  </div>

  <div class="slider-prev-next-control">
    <label for="slide{{i + 1}}" *ngFor="let item of itemList; let i = index">s</label>
  </div>

  <div class="slider-dot-control">
    <label for="slide{{i + 1}}" *ngFor="let item of itemList; let i = index"></label>
  </div>
</div>

<button (click)="onClicked()">show selected</button>
